[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pydantic-settings = "*"
aio-pika = "*"
scrapy = "*"
lxml = "*"
validators = "*"
fastcore = "*"
pytz = "*"
geopy = "*"
loguru = "*"
six = "*"
uvloop = "*"
pymongo = "*"
apscheduler = "*"

[requires]
python_version = "3.10"
