[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyMongo = "*"
apscheduler= "*"
fastapi = "*"
pydantic = "*"
pydantic-settings = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
tzdata = "*"
aio-pika = "*"
loguru = "*"
six = "*"
uvloop = "*"

[requires]
python_version = "3.11"
