-i https://pypi.org/simple
aio-pika==9.4.0; python_version >= '3.8' and python_version < '4.0'
aiormq==6.8.0; python_version >= '3.8' and python_version < '4.0'
annotated-types==0.6.0; python_version >= '3.8'
anyio==4.2.0; python_version >= '3.8'
apscheduler==3.10.4; python_version >= '3.6'
attrs==23.2.0; python_version >= '3.7'
automat==22.10.0
certifi==2024.2.2; python_version >= '3.6'
cffi==1.16.0; platform_python_implementation != 'PyPy'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
constantly==23.10.4; python_version >= '3.8'
crochet==2.1.1; python_full_version >= '3.8.0'
cryptography==42.0.2; python_version >= '3.7'
cssselect==1.2.0; python_version >= '3.7'
dnspython==2.5.0; python_version >= '3.8'
fastapi==0.109.2; python_version >= '3.8'
fastcore==1.5.29; python_version >= '3.7'
filelock==3.13.1; python_version >= '3.8'
geographiclib==2.0; python_version >= '3.7'
geopy==2.4.1; python_version >= '3.7'
gunicorn==20.1.0; python_version >= '3.5'
h11==0.14.0; python_version >= '3.7'
hyperlink==21.0.0
idna==3.6; python_version >= '3.5'
incremental==22.10.0
itemadapter==0.8.0; python_version >= '3.7'
itemloaders==1.1.0; python_version >= '3.7'
jmespath==1.0.1; python_version >= '3.7'
loguru==0.7.2; python_version >= '3.5'
lxml==5.1.0; python_version >= '3.6'
motor==3.3.2; python_version >= '3.7'
multidict==6.0.5; python_version >= '3.7'
packaging==23.2; python_version >= '3.7'
pamqp==3.3.0; python_version >= '3.7'
parsel==1.8.1; python_version >= '3.7'
pip==24.0; python_version >= '3.7'
protego==0.3.0; python_version >= '3.7'
psycopg2-binary==2.9.9; python_version >= '3.7'
pyasn1==0.5.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pyasn1-modules==0.3.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pycparser==2.21
pydantic==2.6.1; python_version >= '3.8'
pydantic-core==2.16.2; python_version >= '3.8'
pydantic-settings==2.1.0; python_version >= '3.8'
pydispatcher==2.0.7; platform_python_implementation == 'CPython'
pymongo==4.6.1; python_version >= '3.7'
pyopenssl==24.0.0; python_version >= '3.7'
python-dotenv==1.0.1; python_version >= '3.8'
pytz==2024.1
queuelib==1.6.2; python_version >= '3.5'
requests==2.31.0; python_version >= '3.7'
requests-file==2.0.0
scrapy==2.11.0; python_version >= '3.8'
service-identity==24.1.0; python_version >= '3.8'
setuptools==69.1.0; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sniffio==1.3.0; python_version >= '3.7'
sqlalchemy==2.0.27; python_version >= '3.7'
starlette==0.36.3; python_version >= '3.8'
tldextract==5.1.1; python_version >= '3.8'
twisted==22.10.0; python_full_version >= '3.7.1'
typing-extensions==4.9.0; python_version >= '3.8'
tzdata==2024.1; python_version >= '2'
tzlocal==5.2; python_version >= '3.8'
urllib3==2.2.0; python_version >= '3.8'
uvicorn==0.20.0; python_version >= '3.7'
uvloop==0.19.0; python_full_version >= '3.8.0'
validators==0.22.0; python_version >= '3.8'
w3lib==2.1.2; python_version >= '3.7'
wrapt==1.16.0; python_version >= '3.6'
yarl==1.9.4; python_version >= '3.7'
zope.interface==6.1; python_version >= '3.7'
